<template>
  <div id="app">
    <b-navbar fixed-top>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img
            src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
            alt="Lightweight UI components for Vue.js based on Bulma"
          >
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          {{ $t('home') }}
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/authors' }">
          {{ $t('authors') }}
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/books' }">
          {{ $t('books') }}
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/collections' }">
          {{ $t('collections') }}
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/about' }">
          {{ $t('about') }}
        </b-navbar-item>
        <!--<b-navbar-dropdown label="Info">
          <b-navbar-item href="#">
            About
          </b-navbar-item>
          <b-navbar-item href="#">
            Contact
          </b-navbar-item>
        </b-navbar-dropdown>-->
      </template>
      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-button
              tag="router-link"
              to="/search"
              icon-left="magnify"
            >
            </b-button>
            <a class="button is-primary">
              <strong>{{ $t('log_in') }}</strong>
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <router-view/>
  </div>
</template>

<style lang="scss">
// Icons
@import "~@mdi/font/css/materialdesignicons.min.css";

// Import Bulma's core
//@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/utilities/initial-variables.sass";

// Primary
$black: #000000;

// Custom colours
$background: $black;
$dropdown-content-background-color: $background;
$link-hover: $grey-light;
$primary: $blue;
$scheme-invert: $black;
$scheme-main: $black;
$scheme-main-bis: $black;
$text: $grey-light;
$text-strong: $grey-light;
//$scheme-main-bis: #101010;

// Custom dimensions
$card-content-padding: 0.75rem;
$column-gap: 0.5rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Material Design Icons
@import '~vue-material-design-icons/styles.css';

div.page {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100vw;
}

.dropdown-item {
  background-color: transparent;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: $blue !important;
}

// Firefox
html {
  scrollbar-width: thin;
  scrollbar-color: $grey-dark rgba(0, 0, 0, 0);
}

// Chrome and Webkit
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $grey-dark;
}

// Spinning animation
@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.spin {
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
</style>
