<template>
  <div class="page">
    <h1 class="is-size-2">{{ $t('books_by') }} {{ author.name }}</h1>
    <BookGrid
      :data="data"
      :loading="loading"
      :sort_by="sort_by"
      :sort_order="sort_order"
      @change-page="on_change_page"
      @sort="on_sort"
    />
  </div>
</template>

<script>
  import BookGrid from '@/components/BookGrid.vue'

  export default {
    name: 'Books',
    components: {
      BookGrid
    },
    data () {
      return {
        author: {},
        data: {},
        loading: true,
        sort_by: this.$route.query.sort_by || null,
        sort_order: this.$route.query.sort_order || null
      }
    },
    methods: {
      api_get () {
        var vue = this
        this.axios
          .get('/api/books', { params: {
            author_id: vue.id,
            page: vue.data.page,
            sort_by: vue.sort_by,
            sort_order: vue.sort_order
          }})
          .then(response => {
            vue.data = response.data
            vue.loading = false
          })
      },
      on_change_page (page) {
        this.loading = true
        this.data.page = page
        this.$router.replace({ query: {
          page: this.data.page,
          sort_by: this.sort_by,
          sort_order: this.sort_order
        }})
        this.api_get()
      },
      on_sort (event) {
        this.loading = true
        this.data.page = 1
        this.sort_by = event.by
        this.sort_order = event.order
        this.$router.replace({ query: {
          sort_by: this.sort_by,
          sort_order: this.sort_order
        }})
        this.api_get()
      }
    },
    mounted () {
      this.data.page = this.$route.query.page
      var vue = this
      this.axios
        .get('/api/authors/'+vue.id)
        .then(response => {
          vue.author = response.data
        })
      this.api_get()
    },
    props: ['id']
  }
</script>
