<template>
  <div class="page">
    <h1 class="is-size-2">{{ $t('about') }}</h1>
    <div class="content has-text-centered">
      <strong>{{ $t('free_billy') }}</strong> {{ $t('by') }} <a href="https://jmason.me">Jonathan Mason</a>
      <br>
      {{ $t('licensed_under_the') }} <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License 3.0</a>
    </div>
  </div>
</template>
