<template>
  <div class="page">
    <h1 class="is-size-2">{{ author.name }}</h1>
    <span v-if="books_loading || (!books_loading && books.length > 0)">
      <RouterLinkedSubheading
        :path="author.id+'/books'"
        :title="$t('books')"
      />
      <Bookshelf :books="books" :loading="books_loading" />
    </span>
    <span v-if="collections_loading || (!collections_loading && collections.length > 0)">
      <RouterLinkedSubheading
        :path="author.id+'/collections'"
        :title="$t('collections')"
      />
      <Bookshelf :books="collections" areCollections :loading="collections_loading" />
    </span>
  </div>
</template>

<script>
  import Bookshelf from '@/components/Bookshelf.vue'
  import RouterLinkedSubheading from '@/components/RouterLinkedSubheading.vue'

  export default {
    name: 'Author',
    components: {
      Bookshelf,
      RouterLinkedSubheading
    },
    data () {
      return {
        author: {},
        books: [],
        books_loading: true,
        collections: [],
        collections_loading: true
      }
    },
    mounted () {
      var vue = this;
      this.axios
        .get('/api/authors/'+vue.id)
        .then(response => {
          vue.author = response.data
        })

      this.axios
        .get('/api/books', { params: {
          author_id: vue.id,
          limit: 15
        }})
        .then(response => {
          vue.books = response.data.items
          this.books_loading = false
        })

      this.axios
        .get('/api/collections', { params: {
          author_id: vue.id,
          limit: 15
        }})
        .then(response => {
          vue.collections = response.data.items
          this.collections_loading = false
        })
    },
    props: ['id']
  }
</script>
