<template>
  <div class="page">
    <h1 class="is-size-2">{{ book.title }}</h1>
    <h2 class="is-size-3"><router-link :to="{ path: '/author/'+book.author.id }">{{ book.author.name }}</router-link></h2>
  </div>
</template>

<script>
  export default {
    name: 'Book',
    data () {
      return {
        book: {}
      }
    },
    mounted () {
      var parent = this;
      this.axios
        .get('/api/books/'+parent.id)
        .then(response => {
          parent.book = response.data
        })
    },
    props: ['id']
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/initial-variables.sass";

  a {
    color: $grey-light;
  }

  a:hover {
    color: $blue;
  }
</style>
