<template>
  <div class="page">
    <h1 class="is-size-2">{{ collection.title }}</h1>
    <RouterLinkedSubheading
        :path="'/author/'+$props.id"
        :title="collection.author.name"
      />
    <Bookshelf :books="collection.books" :loading="loading" />
  </div>
</template>

<script>
  import Bookshelf from '@/components/Bookshelf.vue'
  import RouterLinkedSubheading from '@/components/RouterLinkedSubheading.vue'

  export default {
    name: 'Collection',
    components: {
      Bookshelf,
      RouterLinkedSubheading
    },
    data () {
      return {
        collection: {},
        loading: true
      }
    },
    mounted () {
      var vue = this;
      this.axios
        .get('/api/collections/'+vue.id)
        .then(response => {
          vue.collection = response.data
          vue.loading = false
        })
    },
    props: ['id']
  }
</script>
