<template>
  <div class="page">
    <h1 class="is-size-2">{{ $t('home') }}</h1>
    <RouterLinkedSubheading
      path="/books?sort_by=date_added&sort_order=desc"
      :title="$t('latest_books')"
    />
    <Bookshelf
      :books="latest_books"
      :loading="latest_loading"
    />
    <RouterLinkedSubheading
      path="/collections?sort_by=date_added&sort_order=desc"
      :title="$t('latest_collections')"
    />
    <Bookshelf
      :books="collections"
      :areCollections="true"
      :loading="collections_loading"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import Bookshelf from '@/components/Bookshelf.vue'
import RouterLinkedSubheading from '@/components/RouterLinkedSubheading.vue'

export default {
  name: 'Home',
  components: {
    Bookshelf,
    RouterLinkedSubheading
  },
  computed: {
    bookshelves () {
      return this.$store.state.bookshelves
    }
  },
  data () {
    return {
      collections: [],
      collections_loading: true,
      latest_books: [],
      latest_loading: true
    }
  },
  mounted () {
    var vue = this;

    this.axios
      .get('/api/books', { params: {
        limit: 15,
        sort_by: 'date_added',
        sort_order: 'desc'
      }})
      .then(response => {
        vue.latest_books = response.data.items
        vue.latest_loading = false
      })
    
    this.axios
      .get('/api/collections', { params: {
        limit: 15,
        sort_by: 'date_added',
        sort_order: 'desc'
      }})
      .then(response => {
        vue.collections = response.data.items
        vue.collections_loading = false
      })
  }
}
</script>
