<template>
  <div class="page">
    <h1 class="is-size-2">{{ $t('metadata_manager') }}</h1>
    <b-table
      :data="data.items"
      :loading="loading"

      paginated
      backend-pagination
      :total="data.items_total"
      :per-page="data.per_page"
      @page-change="onPageChange"
      :aria-next-label="$t('next_page')"
      :aria-previous-label="$t('previous_page')"
      :aria-page-label="$t('page')"
      :aria-current-label="$t('current_page')"

      backend-sorting
      :default-sort-direction="default_sort_order"
      :default-sort="[sort_field, sort_order]"
      @sort="onSort"
    >
      <b-table-column field="title" :label="$t('title')" sortable v-slot="props">
        {{ props.row.title }}
      </b-table-column>
      <b-table-column field="isbn" :label="$t('isbn')" sortable v-slot="props">
        {{ props.row.isbn }}
      </b-table-column>
      <b-table-column field="author" :label="$t('author')" sortable v-slot="props">
        {{ props.row.author.name }}
      </b-table-column>
      <b-table-column field="collection" :label="$t('collection')" sortable v-slot="props">
        {{ props.row.collection.title }}
      </b-table-column>
      <b-table-column field="date_added" :label="$t('date_added')" sortable v-slot="props">
        {{ props.row.date_added }}
      </b-table-column>
  </b-table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        data: {},
        loading: true,
        sort_field: this.$route.query.sort_by || 'title',
        sort_order: this.$route.query.sort_order || 'asc',
        default_sort_order: 'asc',
      }
    },
    methods: {
      /*
      * Load async data
      */
      loadAsyncData() {
        var vue = this;
        this.axios
          .get('/api/books', { params: {
            page: vue.page_number,
            sort_by: vue.sort_field,
            sort_order: vue.sort_order
          }})
          .then(response => {
            vue.data = response.data
            vue.loading = false
          })
      },
      /*
      * Handle page-change event
      */
      onPageChange(page_number) {
        this.page_number = page_number
        this.loadAsyncData()
      },
      /*
      * Handle sort event
      */
      onSort(field, order) {
        this.sort_field = field
        this.sort_order = order
        this.loadAsyncData()
      }
    },
    mounted() {
      this.loadAsyncData()
    }
  }
</script>
