<template>
  <div class="page">
    <h1 class="is-size-2">
      {{ $t('search') }} {{ title_text[filter_by] }}
    </h1>
    <b-field>
      <b-input
        id="searchBox"
        v-model="q"
        placeholder="Search..."
        type="search"
        icon="magnify"
        size="is-medium"
        icon-right="close-circle"
        icon-right-clickable
        @icon-right-click="clearSearch()"
      >
      </b-input>
    </b-field>
    <span v-if="!loading_authors && authors.items && authors.items.length > 0">
      <RouterLinkedSubheading
        v-if="!filter_by"
        :path="'search?q='+q+'&filter_by=author'"
        :title="$t('authors')"
      />
      <AuthorShelf
        v-if="!filter_by"
        :authors="authors.items"
      />
      <AuthorGrid
        v-if="filter_by === 'author'"
        :data="authors"
      />
    </span>
    <span v-if="!loading_books && books.items && books.items.length > 0">
      <RouterLinkedSubheading
        v-if="!filter_by"
        :path="'search?q='+q+'&filter_by=book'"
        :title="$t('books')"
      />
      <Bookshelf
        v-if="!filter_by"
        :books="books.items"
      />
      <BookGrid
        v-if="filter_by === 'book'"
        :data="books"
      />
    </span>
    <span v-if="!loading_collections && collections.items && collections.items.length > 0">
      <RouterLinkedSubheading
        v-if="!filter_by"
        :path="'search?q='+q+'&filter_by=collection'"
        :title="$t('collections')"
      />
      <Bookshelf
        v-if="!filter_by"
        :books="collections.items"
        areCollections
      />
      <BookGrid
        v-if="filter_by === 'collection'"
        :data="collections"
        areCollections
      />
    </span>
    <div v-if="loading_authors || loading_books || loading_collections" class="loadingIconContainer">
      <b-icon class="spin" icon="loading" size="is-large"></b-icon>
    </div>
  </div>
</template>

<script>
  import _debounce from 'lodash/debounce'

  import AuthorShelf from '@/components/AuthorShelf.vue'
  import AuthorGrid from '@/components/AuthorGrid.vue'
  import Bookshelf from '@/components/Bookshelf.vue'
  import BookGrid from '@/components/BookGrid.vue'
  import RouterLinkedSubheading from '@/components/RouterLinkedSubheading.vue'

  export default {
    name: 'Author',
    components: {
      AuthorShelf,
      AuthorGrid,
      Bookshelf,
      BookGrid,
      RouterLinkedSubheading
    },
    data () {
      return {
        authors: {},
        books: {},
        collections: {},
        filter_by: '',
        loading_authors: false,
        loading_books: false,
        loading_collections: false,
        previous_q: '',
        q: '',
        title_text: {
          'author': this.$t('authors'),
          'book': this.$t('books'),
          'collection': this.$t('collections')
        }
      }
    },
    methods: {
      clearSearch: function() {
        this.q = ''
        this.$router.replace({ query: {
          q: this.q,
          filter_by: ''
        }})
        this.authors = {}
        this.books = {}
        this.collections = {}
        this.loading_authors = false
        this.loading_books = false
        this.loading_collections = false
      },

      search: _debounce(function () {
        let vue = this
        this.$router.replace({ query: {
          q: vue.q
        }})
        if (this.q && (this.q !== this.previous_q)) {
          this.loading_authors = true
          this.loading_books = true
          this.loading_collections = true
          this.axios
            .get('/search', { params: {
              q: this.q,
              filter_by: 'author'
            }})
            .then(response => {
              vue.authors = response.data
              vue.loading_authors = false
            })
          this.axios
            .get('/search', { params: {
              q: this.q,
              filter_by: 'book'
            }})
            .then(response => {
              vue.books = response.data
              vue.loading_books = false
            })
          this.axios
            .get('/search', { params: {
              q: this.q,
              filter_by: 'collection'
            }})
            .then(response => {
              vue.collections = response.data
              vue.loading_collections = false
            })
          this.previous_q = this.q
        }
        else if (!this.q) {
          this.authors = {}
          this.books = {}
          this.collections = {}
          this.loading_authors = false
          this.loading_books = false
          this.loading_collections = false
          this.previous_q = this.q
        }
      }, 500)
    },
    mounted () {
      this.q = this.$route.query.q
      this.search()
      document.getElementById('searchBox').focus()
    },
    watch: {
      $route(to, from) {
        if (from.query.filter_by !== to.query.filter_by) {
          if (to.query.filter_by) {
            this.filter_by = to.query.filter_by
          }
          else {
            this.filter_by = ''
          }
          console.log('filter changed to '+this.filter_by)
        }
      },

      q() {
        this.q = this.q.trim()
        if (this.q != this.previous_q) {
          this.search()
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .loadingIconContainer {
    justify-content: center;
    display: flex;
  }
</style>
