<template>
  <div class="page">
    <Viewer :book_id='id' :file_path='this.$route.query.file_path' />
  </div>
</template>

<script>
  import Viewer from '@/components/Viewer.vue'

  export default {
    name: 'ViewBook',
    components: {
      Viewer
    },
    props: {
      id: Number
    }
  }
</script>
