<template>
  <div>
    <h3 class="is-size-3">{{ title }}</h3>
    <div v-if="loading" class="loadingIconContainer">
      <b-icon class="spin" icon="loading" size="is-large"></b-icon>
    </div>
    <div v-if="!loading" class="columns is-mobile">
      <AuthorCard
        v-for="(author, i) in authors"
        :key="i"
        :author="author"
      />
    </div>
  </div>
</template>

<script>
  import AuthorCard from '@/components/AuthorCard.vue';

  export default {
    name: 'AuthorShelf',
    components: {
      AuthorCard
    },
    props: {
      authors: Array,
      loading: Boolean,
      title: String
    }
  }
</script>

<style scoped lang="scss">
  div.columns {
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    overflow-x: auto;
  }

  .loadingIconContainer {
    justify-content: center;
    display: flex;
  }
</style>
