<template>
  <span class="column is-one-third-mobile is-one-quarter-tablet is-2-desktop is-1-fullhd">
    <div class="card">
      <div class="card-image">
        <router-link :to="{ path: '/author/'+author.id }">
          <figure class="image is-2by3">
            <img :src="author.image_url" alt=" ">
          </figure>
        </router-link>
      </div>
    <div class="card-content">
      <p class="title is-5">
        <router-link :to="{ path: '/author/'+author.id }">{{ author.name }}</router-link>
      </p>
      </div>
    </div>
  </span>
</template>

<script>
  export default {
    name: 'AuthorCard',
    props: {
      author: Object
    }
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/initial-variables.sass";

  a {
    color: $grey-light;
  }

  a:hover {
    color: $blue;
  }

  div.card {
    background-color: #0c0c0c;
    box-shadow: none;
  }

  p.title {
    color: $grey-light;
  }
</style>
