<template>
  <div>
    <GridTurner
      top
      :data="$props.data"
      default_sort_option="name"
      :sort_options="sort_options"
      :sort_by="sort_by"
      :sort_order="sort_order"
      @change-page="$emit('change-page', $event)"
      @sort="$emit('sort', $event)"
    />
    <div v-if="loading" class="loadingIconContainer">
      <b-icon class="spin" icon="loading" size="is-large"></b-icon>
    </div>
    <div v-if="!loading" class="columns is-multiline is-mobile">
      <AuthorCard
        v-for="(author, i) in $props.data.items"
        :key="i"
        :author="author"
      />
    </div>
    <GridTurner
      :data="$props.data"
      @change-page="$emit('change-page', $event)"
    />
  </div>
</template>

<script>
  import AuthorCard from '@/components/AuthorCard.vue'
  import GridTurner from '@/components/GridTurner.vue'

  export default {
    name: 'AuthorGrid',
    components: {
      AuthorCard,
      GridTurner
    },
    data () {
      return {
        sort_options: [
          {id: 'name', name: this.$t('name')}
        ]
      }
    },
    props: {
      data: Object,
      loading: Boolean,
      sort_by: String,
      sort_order: String
    }
  }
</script>

<style scoped lang="scss">
  div.columns {
    margin-bottom: 0.05em;
    padding-top: 0.2em;
  }

  .loadingIconContainer {
    justify-content: center;
    display: flex;
  }
</style>
