<template>
  <div>
    <GridTurner
      top
      :data="$props.data"
      default_sort_option="title"
      :sort_options="
        $props.areCollections ?
        sort_options_collections : sort_options_books
      "
      :sort_by="sort_by"
      :sort_order="sort_order"
      @change-page="$emit('change-page', $event)"
      @sort="$emit('sort', $event)"
    />
    <div v-if="loading" class="loadingIconContainer">
      <b-icon class="spin" icon="loading" size="is-large"></b-icon>
    </div>
    <div v-if="!loading" class="columns is-multiline is-mobile">
      <BookCard
        v-for="(book, i) in $props.data.items"
        :key="i"
        :book="book"
        :isCollection="areCollections"
      />
    </div>
    <GridTurner
      :data="$props.data"
      @change-page="$emit('change-page', $event)"
    />
  </div>
</template>

<script>
  import BookCard from '@/components/BookCard.vue'
  import GridTurner from '@/components/GridTurner.vue'

  export default {
    name: 'BookGrid',
    components: {
      BookCard,
      GridTurner
    },
    data () {
      return {
        sort_options_books : [
          {id: 'author', name: this.$t('author')},
          {id: 'collection', name: this.$t('collection')},
          {id: 'date_added', name: this.$t('date_added')},
          {id: 'isbn', name: this.$t('isbn')},
          {id: 'title', name: this.$t('title')}
        ],
        sort_options_collections: [
          {id: 'author', name: this.$t('author')},
          {id: 'date_added', name: this.$t('date_added')},
          {id: 'title', name: this.$t('title')}
        ]
      }
    },
    props: {
      areCollections: Boolean,
      data: Object,
      loading: Boolean,
      sort_by: String,
      sort_order: String
    }
  }
</script>

<style scoped lang="scss">
  div.columns {
    margin-bottom: 0.05em;
    padding-top: 0.2em;
  }

  .loadingIconContainer {
    justify-content: center;
    display: flex;
  }
</style>
