<template>
  <div>
    <h3 class="is-size-3">{{ title }}</h3>
    <div v-if="loading" class="loadingIconContainer">
      <b-icon class="spin" icon="loading" size="is-large"></b-icon>
    </div>
    <div v-if="!loading" class="columns is-mobile">
      <BookCard
        v-for="(book, i) in books"
        :key="i"
        :book="book"
        :isCollection="areCollections"
      />
    </div>
  </div>
</template>

<script>
  import BookCard from '@/components/BookCard.vue';

  export default {
    name: 'Bookshelf',
    components: {
      BookCard
    },
    props: {
      books: Array,
      areCollections: Boolean,
      loading: Boolean,
      title: String
    }
  }
</script>

<style scoped lang="scss">
  div.columns {
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    overflow-x: auto;
  }

  .loadingIconContainer {
    justify-content: center;
    display: flex;
  }
</style>
