<template>
  <span class="column is-one-third-mobile is-one-quarter-tablet is-2-desktop is-1-fullhd">
    <div class="card">
      <div class="card-image">
        <router-link v-if="!isCollection" :to="{ path: '/book/'+book.id }">
          <figure class="image is-2by3">
            <img :src="book.image_url" alt=" ">
            <router-link :to="{ path: '/viewbook/'+book.id, query: { file_path: book.file_path } }">
              <span class="iconContainer">
                <b-icon
                  class="iconContainer-icon"
                  icon="book-play"
                  size="is-small">
                </b-icon>
              </span>
            </router-link>
          </figure>
        </router-link>
        <router-link v-if="isCollection" :to="{ path: '/collection/'+book.id }">
          <figure class="image is-2by3">
            <img :src="book.image_url" alt=" ">
          </figure>
        </router-link>
      </div>
    <div class="card-content">
      <p class="title is-5">
        <router-link v-if="isCollection" :to="{ path: '/collection/'+book.id }">{{ book.title|truncate }}</router-link>
        <router-link v-if="!isCollection" :to="{ path: '/book/'+book.id }">{{ book.title|truncate }}</router-link>
      </p>
      <p class="subtitle is-6"><router-link :to="{ path: '/author/'+book.author.id }">{{ book.author.name }}</router-link></p>
      </div>
    </div>
  </span>
</template>

<script>
  export default {
    name: 'BookCard',
    filters: {
      truncate (title) {
        if (title.length > 29) {
          return title.slice(0, 29)+'...'
        }
        else {
          return title
        }
      }
    },
    props: {
      book: Object,
      isCollection: Boolean
    }
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/initial-variables.sass";

  .iconContainer {
    background-color: rgba(25, 25, 25, 0.75);
    border-radius: 50%;
    height: 2rem;
    left: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 100ms linear;
    width: 2rem;
  }

  .iconContainer:hover {
    background-color: rgba(25, 25, 25, 1);
    transform: scale(1.2) translate(-40%, -40%);
  }

  .iconContainer-icon {
    font-size: 2rem;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  a {
    color: $grey-light;
  }

  a:hover {
    color: $blue;
  }

  // Align items vertically to the top
  div.column {
    margin-bottom: auto;
  }

  div.card {
    background-color: #0c0c0c;
    box-shadow: none;
  }

  p.title {
    color: $grey-light;
  }
</style>
