<template>
  <div class="gridTurner">
    <div class="pagingContainer">
      <div class="paging">
        <b-button
          :disabled="$props.data.page === 1"
          type="is-text"
          size="is-large"
          icon-left="chevron-left"
          @click="$emit('change-page', $props.data.page-1)"
        >
        </b-button>
        <span>
          {{ $props.data.items_start }}-{{ $props.data.items_end }}&nbsp;
          of&nbsp;
          {{ $props.data.items_total }}
        </span>
        <b-button
          :disabled="!($props.data.page < $props.data.pages)"
          type="is-text"
          size="is-large"
          icon-left="chevron-right"
          @click="$emit('change-page', $props.data.page+1)"
        >
        </b-button>
      </div>
    </div>
    <div v-if="$props.top" class="sortingContainer">
      <div class="sorting">
        <b-dropdown
          v-if="data_sort_options.length > 1"
          aria-role="list"
          v-model="selected_sort_option"
          @change="change_sort_by"
        >
          <template #trigger="{ active }">
            <b-button
              :label="$t('sort_by') +
                ': ' + data_sort_options[selected_sort_option].name"
              type="is-primary"
              :icon-right="active ? 'menu-up' : 'menu-down'"
            />
          </template>
          <b-dropdown-item
            v-for="(option, i) in data_sort_options"
            :key="i"
            :value="i"
            aria-role="listitem"
          >
            {{ option.name }}
          </b-dropdown-item>
        </b-dropdown>
        <b-button
          class="sortOrderButton"
          :icon-left="sort_buttons[data_sort_order]"
          @click="swap_sort_order"
        >
          {{ sort_names[data_sort_order]}}
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'GridTurner',
    data () {
      return {
        selected_sort_option: 0,
        sort_buttons: {
          'asc': 'sort-ascending',
          'desc': 'sort-descending'
        },
        sort_names: {
          'asc': this.$t('ascending'),
          'desc': this.$t('descending')
        },
        data_sort_options: [],
        data_sort_order: null
      }
    },
    methods: {
      change_sort_by (by) {
        this.data_sort_order = 'asc'
        this.$emit(
          'sort',
          {
            by: this.data_sort_options[by].id,
            order: this.data_sort_order
          }
        )
      },
      swap_sort_order () {
        if (this.data_sort_order == 'asc') {
          this.data_sort_order = 'desc'
        }
        else {
          this.data_sort_order = 'asc'
        }
        this.$emit(
          'sort',
          {
            by: this.data_sort_options[this.selected_sort_option].id,
            order: this.data_sort_order
          }
        )
      }
    },
    mounted () {
      if (this.$props.top) {
        this.data_sort_options = this.$props.sort_options
        if (this.$props.sort_by) {
          this.selected_sort_option = this.data_sort_options
            .map(e => e.id).indexOf(this.$props.sort_by)
        }
        else {
          this.selected_sort_option = this.data_sort_options
            .map(e => e.id).indexOf(this.$props.default_sort_option)
        }
        this.data_sort_order = this.$props.sort_order || 'asc'
      }
    },
    props: {
      data: Object,
      default_sort_option: String,
      sort_by: String,
      sort_options: Array,
      sort_order: String,
      top: Boolean
    }
  }
</script>

<style scoped lang="scss">
  .gridTurner {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 100%;
  }

  .gridTurner > * {
    width: 100%;
  }

  .pagingContainer {
    grid-column-start: 2;
  }

  .paging {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .sorting {
    align-items: center;
    display: flex;
    justify-content: right;
    margin-right: 0.5rem;
  }

  .sortOrderButton {
    margin-left: 0.5rem;
  }

  @media only screen and (max-width: 900px ) {
    .gridTurner {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .pagingContainer {
      grid-column-start: 1;
      grid-row: 1;
    }

    .sortingContainer {
      grid-column-start: 1;
      grid-row: 2;
    }

    .sorting {
      justify-content: center;
      margin-right: 0;
    }
  }
</style>
