<template>
  <h2 class="is-size-3">
    <router-link :to="{ path: path }">
      {{ title }}<b-icon icon="chevron-right"></b-icon>
    </router-link>
  </h2>
</template>

<script>
  export default {
    name: 'RouterLinkedSubheading',
    props: ['path', 'title']
  }
</script>

<style scoped lang="scss">
  @import "~bulma/sass/utilities/initial-variables.sass";

  a {
    color: $grey-light;
  }

  a:hover {
    color: $blue;
  }
</style>
