<template>
  <div class="container">
    <b-navbar fixed-top :mobile-burger="false" class="viewerButtonsBar">
        <template #brand>
          <b-navbar-item tag="div">
            <div class="buttons">
              <b-button class="backButton" @click="navigateBack()" icon-left="arrow-left"></b-button>
              <b-dropdown aria-role="list" :mobile-modal="false">
                  <template #trigger="">
                    <b-button class="themeButton" icon-left="compare"></b-button>
                  </template>
                  <b-dropdown-item
                    v-for="theme in themes"
                    :key="theme.name"
                    @click="selectTheme(theme.name)"
                    aria-role="listitem"
                  >
                    {{ theme.name }}
                  </b-dropdown-item>
              </b-dropdown>
            </div>
          </b-navbar-item>
        </template>
    </b-navbar>
    <div id="book">
      <b-button class="prevButton" @click="prevPage()" icon-left="chevron-left"></b-button>
      <b-button class="nextButton" @click="nextPage()" icon-left="chevron-right"></b-button>
    </div>
  </div>
</template>

<script>
  import ePub from 'epubjs'

  export default {
    name: 'Viewer',
    data () {
      return {
        book: null,
        themes: [
          {
            'name': 'Black',
            'backgroundColour': 'black',
            'hyperlinkColour': '#7FD7FF',
            'textColour': 'white'
          },
          {
            'name': 'White',
            'backgroundColour': 'white',
            'hyperlinkColour': 'blue',
            'textColour': 'black'
          }
        ],
        rendition: null
      }
    },
    methods: {
      navigateBack() {
        if (this.$router.referer.name) {
          this.$router.go(-1)
        }
        else {
          this.$router.push('/book/'+this.book_id)
        }
      },
      nextPage () {
        this.rendition.next()
      },
      openThemeSwitcher () {
        for (var theme in this.rendition.themes._themes) {
          console.log(theme)
        }
      },
      prevPage () {
        this.rendition.prev()
      },
      selectTheme (themeName) {
        this.rendition.themes.select(themeName)
      }
    },
    mounted () {
      this.book = ePub(this.file_path)
      this.rendition = this.book.renderTo('book', {
        flow: "paginated",
        width: "100vw",
        height: "100%",
      })
      this.rendition.display()

      // Register each theme and select Black as the default
      this.themes.forEach(theme => {
        console.log(theme)
        this.rendition.themes.register(theme.name, {
          'html': {
            'background-color': theme.backgroundColour,
            'color': theme.textColour,
            'font-family': 'serif'
          },
          'a': {'color': theme.hyperlinkColour}
        })
      })
      this.rendition.themes.select('Black')
    },
    props: {
      book_id: Number,
      file_path: String
    }
  }
</script>

<style lang="scss">
  @import "~bulma/sass/utilities/initial-variables.sass";

  div#book {
    height: 100vh;
    width: 100vw;
  }

  div.container {
    background-color: $black;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100vw;
  }

  .backButton, .nextButton, .prevButton, .themeButton,
  .backButton:focus, .nextButton:focus, .prevButton:focus, .themeButton:focus {
    background-color: transparent;
    box-shadow: none !important;
    color: $grey-light;
    border: none;
    outline: none;
    outline-style: none;
    z-index: 101;
  }

  .backButton:hover, .nextButton:hover, .prevButton:hover, .themeButton:hover {
    color: $blue;
  }

  .nextButton, .nextButton .icon, .prevButton, .prevButton .icon {
    font-size: 10vmin !important;
    height: 100%;
    position: fixed;
    width: 6rem;
  }

  .nextButton {
    right: 0;
  }

  .prevButton {
    left: 0;
  }

  .viewerButtonsBar {
    z-index: 102 !important;
  }
</style>
